@layer components {
  .card-editor-right-pane-font {
    --font-serif: var(--app-font-family-content);
  }

  button,
  [role="button"] {
    transition-property: none;
    transition-duration: 0ms;
  }
}
