@layer components {
  .card-editor-right-pane-font {
    --font-serif:
      "Yu Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro",
      "Noto Serif JP", "MS PMincho", serif;
  }

  button,
  [role="button"] {
    transition-property: none;
    transition-duration: 0ms;
  }
}
