.pm-root {
  display: inline-flex;
  min-width: 0;
}
.pm-root-full-width {
  width: 100%;
}
.pm-root-full-width .pm-trigger {
  width: 100%;
}
.pm-trigger {
  display: inline-flex;
  min-width: 0;
}
.pm-menu-layer {
  position: fixed;
  z-index: 1000;
  outline: none;
}
.pm-menu-layer:focus {
  outline: none;
}
